
   
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Mã Số Thuế A</label>
            <input type="text" value= "MaCQT"class="form-control" id="recipient-name"  [(ngModel)]="seller1.MSTA" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label" >Tên Khách Hàng A</label>
            <input type="text" value= "TenCQT" class="form-control" id="recipient-name" [(ngModel)]="seller1.TenA" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="control-label" >Địa Chỉ A</label>
              <input type="text" value= "TenCQT" class="form-control" id="recipient-name"  [(ngModel)]="seller1.DiaChiA" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label" >Chữ Ký Số A</label>
              <input type="text" value= "TenCQT" class="form-control" id="recipient-name"  [(ngModel)]="seller1.CKSA" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label" >Chữ Ký Điện Tử A</label>
              <input type="text" value= "TenCQT" class="form-control" id="recipient-name"  [(ngModel)]="seller1.CKDTA" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label" >Mã Cơ Quan Thuế	</label>
              <input type="text" value= "TenCQT" class="form-control" id="recipient-name"  [(ngModel)]="seller1.MaCQT" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEditSeller()">Add</button>
        </div>
      </div>
    </div>
  </div>

