<div style="display: inline-flex;">
    <div> <img src="assets/images/bag.PNG" alt="" style="margin-top: 20px;margin-left: 10px; " ></div>
 <div style="color: blue;margin-top: 22px; padding-left: 5px;" >DANH SÁCH ĐƠN VỊ / CHI NHÁNH</div>
 </div>
 <hr>
 <button type="button" class="btn btn-primary" (click)="ComebackHome()" >Trang Chủ</button>
 <app-selleradd></app-selleradd>
 <div>
     <table  class="table table-hover" style="border-left: 1px ridge;">
         <thead>
             <tr  style=" background-color: rgb(0, 183, 255)">
                <th>Mã Số Thuế A</th>
                 <th>Tên Khách Hàng A </th>
                 <th>Địa Chỉ A</th>
                 <th>Chữ Ký Số A </th>
                 <th>Chữ Ký Điện Tử A</th>
                 <th>Mã Cơ Quan Thuế </th>
                 <th>Sửa</th>
                 <th>Xóa</th>
                
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let seller of sellers">
                 <td>{{seller.MSTA}}</td>
                 <td>{{seller.TenA}}</td>
                 <td>{{seller.DiaChiA}}</td>
                 <td>{{seller.CKSA}}</td>
                <td>{{seller.CKDTA}}</td>
                 <td>{{seller.MaCQT}}</td>
                 <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"  [routerLink]="['/sellers',seller.MSTA,'edit']">
                        EditProduct
                      </button>
                      <app-selleredit></app-selleredit>
              
    
                    
                 </td>
                       
                <td><button type="button" class="btn btn-warning" (click)="onDeleteCourses(seller.MSTA)">Delete</button></td>
             </tr>
         </tbody>
     </table>
 </div>