
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="control-label">Mã Sản Phẩm</label>
                <input type="text" value= "MaSP"class="form-control" id="recipient-name"  [(ngModel)]="product1.MaSP" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="control-label" >Tên Sản Phẩm</label>
                <input type="text" value= "TenSP" class="form-control" id="recipient-name" [(ngModel)]="product1.TenSP" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label" >Đơn Vị Tính</label>
                  <input type="text" value= "DVT" class="form-control" id="recipient-name"  [(ngModel)]="product1.DVT" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="control-label" >Mã Số THuế</label>
                  <input type="text" value= "MSTA"class="form-control" id="recipient-name"  [(ngModel)]="product1.MSTA" [ngModelOptions]="{standalone: true}">
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onEditSeller()">Lưu Trữ</button>
        </div>
      </div>
    </div>
  </div>

